/****** General ***********/

*{
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
   padding: 0;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center; 
    width: 100%;
   
}

a{
    text-decoration:none;
    color: black;
}
li{
    list-style-type: none;
}

/* En tête du site */

 header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 1440px;
    height: 79px;
    }
.logo{
    padding-top: 25px;
    padding-left: 25px;
}
.logo img{
    width: 100px; 
    height: auto;
}

    /* menu */

ul.menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: 0;
    padding: 0;
}
 
ul.menu:hover{
    font-weight: 500;
}
.tab{
    width: 144px;
    height: 35px;
    text-align:center;
    padding: 0 20px ;
}

.tab:hover a, .tab:active a,.tab:focus a{
    color: #0065FC; 
    border-top: 3px solid #0065FC;
    padding-top: 20px;
}  

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}